body {
	background-color: rgb(23, 18, 32);
	color:#2c2c2c;
	font: normal 100% Georgia, serif;
	margin: 0;
}

.checkbtn{
	display: none;
}

.divh2{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.divh2-fondo{
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background: linear-gradient(#030c, #0205, #0101);
}

.divh2-elements{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	transition: all .9s;
	top: 270px;
	color: #000;
}

.divh2:focus-within .divh2-fondo{
	display: block;
}

h2:hover{
	background-color: #5a5;
	scale: 1.1;
}

h2:hover ~ body{
	background-color: #5a5;
}

.menu-link{
	text-decoration: none;
}

h3:hover{
	color: #5a5;
	scale: 1.1;
	padding: 0 5px;
}

h3{
	background-color: #fffc;
	width: fit-content;
	border: 2px solid #0008;
	border-radius: 8px;
	text-align: center;
	transition: scale .9s, color .9s, padding .9s;
}

h2{
	padding: 5px 15px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0;
	border: 2px solid #0007;
	border-radius: 8px;
	box-shadow: 0px 8px 25px 0px #0005;
	width: fit-content;
	text-align: center;
	transition: scale .9s, background-color .9s, all 1.3s;
}

.PDF{
	display: none;
	justify-content: center;
	width: 100%;
}

.pdf-iframe{
	margin-top: 50px;
	position: absolute;
	width: 80%;
	height: 500px;
}

.content{
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
	gap: 75px;
    margin: 0 10px 0;
    padding: 0;
    text-decoration: none;
}

#correo{
	text-decoration: none;
}

#correo:hover{
    color: #382;
}

#desarrollado{
    color: #fff5;
}

a[href="https://github.com/HadesEA"]:hover{
    color:#382;
}

#check{
	display: none;
}

#h1 {
	width: 100%;
	height: 100px;
	font-size: 15px;
	font-style:normal;
	background-color: black;
}

aside p {
	font-size: 40px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	position: absolute;
	margin: 25px 10px 5px 10px;
	left: 5%;
}

aside ul{
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: white;
	padding-top: 2%;
	text-align: end;
}

li{
	margin-left: 5px;
}

div#container {
    width: 100%;
	background-color: rgb(10,180,60);
	height: 130px;
}

.contenido{
	height: 750px;
	background-color: mintcream;
	width: 100%;
	/* overflow: hidden; */
}

.productos{
	margin-bottom: 10px;
    display: flex;
	justify-content: center;
    align-content: center;
    padding: 0px 0;
    scale: 1;
}

.medidas{
	padding-top: 20px;
    display: flex;
	justify-content: space-evenly;
	align-items:center;
    scale: 1;
}

.medidas > label{
	height: 50px;
}

label{
    display: flex;
    flex-direction: column;
}

.Eslogan{
	padding: 0;
	padding-bottom: 30px;
	font-size: 50px;
	text-align: center;
	text-shadow: 0px 5px 20px #0b35 ;
}

img{
	width: 30vw;
}

li > a:hover, li > a.active{
	color: rgb(10, 180, 60);
}


nav#navegate ul, li{
	display: inline;
}


a + .submenu  {
	position: absolute;
	width: 120px;
	height: 175px;
	background: #000b;
	top: -230px;
	right: 113px;
	text-align: center;
	line-height: 40px;
	transition: all .2s;
	padding: 0px;
	opacity: 0;
	z-index: 2;
}

.submenu-toggle:hover +.submenu, .submenu:hover{
	opacity: 1;
	top: 14%;	
	transition: all .6s;
}

.subcategoria{
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.submenu > li {
	margin: 0;
}



/* Ajuste para Celular */
@media screen and (max-width: 900px) {
    .medidas{
        flex-direction: column;
        gap: 30px;
        margin: 30px;
    }

	.checkbtn{
		display: block;
		font-size: 30px;
    	color: #fff;
    	float:right;
    	line-height: 80px;
		margin-top: 10px;
    	margin-right: 40px;
    	cursor: pointer;
	}
	aside p{
		left: 1%;
	}
	

	aside ul{
		position: absolute;
        width: 200px;
        height: 190px;
        background: #000e;
		z-index: 2;
    	top: -200px;
		right: 0px;
        text-align: center;
        transition: all .9s;
		padding: 0px;
	}
	li{
		display: block;
		margin: 5px 0px;
		line-height: 15px;
	}

	#check:checked ~ ul{
		top: 80px;
	}

	.Eslogan{
		margin-top: 90px;
		font-size: 35px;
	}

	.contenido{
		height: 700px;
		display: block;
		justify-content: start;
		align-items: center;
		text-align: center;
		padding-top: 10px;
	}

	img{
		margin-top: 40px;
		width: 55vw;
	}

	.ul-cultivos{
		height: 190px;
		display: flex;
		flex-direction: column;
		gap: 10px; 
		justify-content: center;
		text-align: center;
	}

	.subcategoria{
		height: 40px;
	}

	a + .submenu{
		top: -230px;
		right: 100%;
	}

	.submenu-toggle:hover +.submenu, .submenu:hover{
		opacity: 1;
		top: 58%;	
		right: 100%;
		transition: all .6s;
		background-color: #000b;
	}

	.pdf-iframe{
		margin-top: 10px;
		height: 350px;
	}
}